/* animation read text */

.scroll-reveal span {
    color: hsla(0, 0%, 0%, 0.2);
    background-image: linear-gradient(90deg, #594834, #594834);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: scroll-reveal-animation linear forwards;
    animation-timeline: view(y);
}

/* para controlar a velocidade use o Range Start e Range End */

.scroll-reveal h1 span {
    animation-range-start: cover 5svh;
    animation-range-end: cover 10svh;
}

.scroll-reveal p span {
    animation-range-start: cover 10vh;
    animation-range-end: cover 15vh;
}


@keyframes scroll-reveal-animation {
    to {
        background-size: 100% 100%;
    }
    100% {
        color: #614732;
    }

}


/* animations de entrada de elementos */

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}

/*animacoes de saida*/

@keyframes fade-out-image {
    25% {
        opacity: 1;
    }

    85%,
    100% {
        opacity: 0;
        scale: 1.5;
    }
}


@keyframes fade-out {
    to {
        opacity: 0;
    }
}
