footer {
  background: linear-gradient(45deg, #0acf83, #6a0dad);
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4rem;
    text-align: center;
  }
}
