@import "./grid";
header {
  .social-links {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
    z-index: 99999;
    a {
      &:hover {
        img {
          scale: 1.1;
        }
      }
      img {
        width: 2.4rem;
        height: 2.4rem;
        transition: all 0.3s;
      }
    }
  }
}
