.project-section {
    min-height: 100svh;
    padding: 2rem 0;

    h1 {
        font-size: 2.4rem;
        
        &::before {
            content: 'Recent Work';
            display: block;
            font-size: 1.6rem;
            font-weight: lighter;
            margin-bottom: .1rem;
            text-transform: uppercase;
            color: hsl(0 0% 100% / 0.2);
            background-image: linear-gradient(to right, #ff105f, #ffad06, #00c49a);
            background-clip: text;
            background-repeat: repeat;
        }
    }

    .projects {
        padding: 1rem ;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

        .project-card {
            background-color: #fdfdfd;
            background-repeat: no-repeat;
            border-radius: 5px;
            padding: 1rem ;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 1rem;
            overflow: hidden;
            position: relative;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: translateY(-10px);
            }

            img {
                width: 100%;
                object-fit: cover;
            }

        }


        @keyframes show-info-project {
            
        }


    }
}