.project-section {
    min-height: 100svh;
    padding: 2rem 0;

    h1 {
        font-size: 2.4rem;

        &::before {
            content: 'Recent Work';
            display: block;
            font-size: 1.6rem;
            font-weight: lighter;
            margin-bottom: .1rem;
            text-transform: uppercase;
            color: hsl(0 0% 100% / 0.2);
            background-image: linear-gradient(to right, #ff105f, #ffad06, #00c49a);
            background-clip: text;
            background-repeat: repeat;
        }
    }

    .projects {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

        .project-card {
            height: 25rem;
            display: grid;
            place-items: center;
            background-color: #ebcdbe;
            background-repeat: no-repeat;
            border-radius: .1rem;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 1rem;
            overflow: hidden;
            position: relative;
            transition: transform 0.3s ease-in-out;

            opacity: 0;

            transform: translateY(50px);

            animation: slide-in ease-in-out forwards;
            animation-timeline: view();
            animation-range: entry 10%;

            &:hover .info-container {
                transform: translateY(-100%);

            }

            img {
                width: 100%;
                object-fit: cover;
            }

            .info-container {
                height: 50%;
                color: #fff;
                text-transform: uppercase;
                position: absolute;
                bottom: -50%;
                left: 0;
                width: 100%;
                padding: 1rem 0;
                background-color: rgba(0, 0, 0, 0.8);
                transition: transform 0.3s ease;

                display: grid;
                place-content: center;
                text-align: center;


                p {
                    font-size: 1.6rem;
                }

                h2 {
                    font-size: 1.8rem;
                    margin-bottom: .5rem;
                }
            }


            &:nth-child(2) {
                background-color: #000;
                animation-delay: 3s;
                animation-duration: 3s;
            }

            &:nth-child(3) {
                background-color: rgb(9, 20, 83);
                animation-delay: 6s;
                animation-duration: 3s;
            }

        }




    }

    @keyframes slide-in {
        to {
            opacity: 1;
            /* torna o card visível */
            transform: translateY(0);
            /* desliza para cima */
        }

    }
}