@import './grid';

.services-section {
    min-height: 100svh;


    .about-services {
        width: 100%;
        height: max-content;
        display: grid;
        place-items: center;
        gap: 5rem;

        h1 {
            width: 100%;
            text-align: center;
            position: relative;
            font-size: 2.4rem;

            &::before {
                content: "My services";
                text-transform: uppercase;
                font-size: 5rem;
                color: #ffffff15;
                width: 100%;

                position: absolute;
                bottom: -4rem;
                left: 50%;
                transform: translateX(-50%);

                @include device('s') {
                    font-size: 4rem;
                    bottom: -3rem;
                    left: 50%;
                }

            }

        }
    }

    .card-content {
        padding: 5rem 0rem;
        width: 100%;
        height: max-content;
        
        display: flex;
        justify-content: center;
        gap: 5rem;

        @include device ('s') {
            align-items: center;
            flex-direction: column;
            gap: 5rem;
        }

        .service-card {
            border: 1px solid #fff;
            background-color: #3d3d3d;
            width: 30rem;
            height: 30rem;
            border-radius: 1rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;


            h2 {
                font-size: 2.4rem;
                position: relative;
                display: flex;
                align-items: center;
                gap: 1rem;


                img {
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }

            p {
                font-size: 1.6rem;
                text-align: justify;

            }
        }
    }
}