.skills-section {
    min-height: 100svh;

    .left-skills {
        height: 100svh;
        text-align: center;

        h2 {
            font-size: 2.4rem;
            position: relative;
            &:before {
                content: "Technical Skills";
                font-size: 6rem;
                color: #ffffff15;
                font-weight: 700;
                position: absolute;
                bottom: -5rem;
                left: 4rem;
                white-space: nowrap;


                @include device('s') {
                    font-size: 3.5rem;
                    bottom: -3rem;
                    left: 2rem;
                }
            }
        }
    }
}