.skills-section {
    min-height: 100svh;

    .left-skills {
        height: 100svh;
        padding: 5rem;

        h2 {
            font-size: 2.4rem;
            position: relative;
            &:before {
                content: "Skills";
                font-size: 7rem;
                color: #ffffff15;
                font-weight: 700;
                position: absolute;
                bottom: -6rem;
                left: -5rem;
                
            }
        }
    }
}