@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.grid-1 {
  width: calc(8.3333333333% - 20px);
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class*=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 760px) {
  [class*=grid-] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc(8.3333333333% + 10px);
}

.offset-2 {
  margin-left: calc(16.6666666667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.3333333333% + 10px);
}

.offset-5 {
  margin-left: calc(41.6666666667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.3333333333% + 10px);
}

.offset-8 {
  margin-left: calc(66.6666666667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.3333333333% + 10px);
}

.offset-11 {
  margin-left: calc(91.6666666667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 760px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 760px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 760px) and (max-width: 1200px) {
  .container {
    max-width: 760px;
  }
}
@media screen and (max-width: 760px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}

.grid-1 {
  width: calc(8.3333333333% - 20px);
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class*=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 760px) {
  [class*=grid-] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc(8.3333333333% + 10px);
}

.offset-2 {
  margin-left: calc(16.6666666667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.3333333333% + 10px);
}

.offset-5 {
  margin-left: calc(41.6666666667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.3333333333% + 10px);
}

.offset-8 {
  margin-left: calc(66.6666666667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.3333333333% + 10px);
}

.offset-11 {
  margin-left: calc(91.6666666667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 760px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 760px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #00010D;
  color: #fff;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #0D0D0D;
}

/* animation read text */
.scroll-reveal span {
  color: hsla(0, 0%, 100%, 0.2);
  background-image: linear-gradient(90deg, #fff, #fff);
  -webkit-background-clip: text;
          background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal-animation linear forwards;
  animation-timeline: view(y);
}

/* para controlar a velocidade use o Range Start e Range End */
.scroll-reveal h2 span {
  animation-range-start: cover 10vh;
  animation-range-end: cover 25vh;
}

.scroll-reveal p span {
  animation-range-start: cover 15vh;
  animation-range-end: cover 70vh;
}

@keyframes scroll-reveal-animation {
  to {
    background-size: 100% 100%;
  }
  100% {
    color: #fff;
  }
}
/* reveal de itens na tela */
.scroll-reveal-itens {
  scale: 0.8;
  opacity: 0.5;
  animation: scroll-reveal-itens linear forwards;
  animation-timeline: view(y);
  animation-range-start: cover 5vh;
  animation-range-end: cover 15vh;
}

@keyframes scroll-reveal-itens {
  to {
    opacity: 1;
    scale: 1;
  }
  100% {
    color: #fff;
    opacity: 1;
  }
}
/* animations de entrada de elementos */
@keyframes fade-in {
  to {
    opacity: 1;
    scale: 1;
  }
}
/*animacoes de saida*/
@keyframes fade-out-image {
  25% {
    opacity: 1;
  }
  85%, 100% {
    opacity: 0;
    scale: 1.5;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
.grid-1 {
  width: calc(8.3333333333% - 20px);
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class*=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 760px) {
  [class*=grid-] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc(8.3333333333% + 10px);
}

.offset-2 {
  margin-left: calc(16.6666666667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.3333333333% + 10px);
}

.offset-5 {
  margin-left: calc(41.6666666667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.3333333333% + 10px);
}

.offset-8 {
  margin-left: calc(66.6666666667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.3333333333% + 10px);
}

.offset-11 {
  margin-left: calc(91.6666666667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 760px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 760px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

header {
  position: relative;
  overflow-x: clip;
  height: 100svh;
  -webkit-mask: linear-gradient(to top, transparent 0%, black 20%, black 100%, transparent 100%);
          mask: linear-gradient(to top, transparent 0%, black 20%, black 100%, transparent 100%);
}
header .background-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.8;
  animation: fade-out-image linear forwards;
  animation-timeline: view();
  animation-range: exit;
  scale: 1;
  transform-origin: bottom;
}
header .header-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
header .header-content .intro {
  display: grid;
  place-items: center;
  gap: 2rem;
  max-width: 50rem;
  height: -moz-max-content;
  height: max-content;
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -300px;
}
header .header-content .intro h1 {
  color: #fff;
  font-size: 4.8rem;
  font-weight: bolder;
}
@media screen and (max-width: 760px) {
  header .header-content .intro h1 {
    font-size: 3rem;
  }
}
header .header-content .intro p {
  height: 5rem;
  width: auto;
  padding: 0rem 1rem;
  font-size: 2.8rem;
  color: #fff;
  font-weight: bolder;
  background-image: linear-gradient(to bottom, #000, #000, transparent);
}
@media screen and (max-width: 760px) {
  header .header-content .intro p {
    font-size: 2rem;
  }
}
header .header-content .intro .dark-btn {
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  border: 1px solid #fff;
  border-radius: 0.1rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
@media screen and (max-width: 760px) {
  header .header-content .intro .dark-btn {
    font-size: 1.4rem;
  }
}
header .header-content .intro .dark-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0D0D0D;
  z-index: -1;
  transition: width 0.3s ease;
}
header .header-content .intro .dark-btn:hover::before {
  width: 100%;
}
header .header-content .intro .dark-btn img {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 1rem;
}
header .header-content .social-medias-box {
  width: auto;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  gap: 1.5rem;
}
header .header-content .social-medias-box a img {
  width: 2.5rem;
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
}
header .header-content .social-medias-box a img:hover {
  transform: scale(1.1);
}

.grid-1 {
  width: calc(8.3333333333% - 20px);
}

.grid-2 {
  width: calc(16.6666666667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.3333333333% - 20px);
}

.grid-5 {
  width: calc(41.6666666667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.3333333333% - 20px);
}

.grid-8 {
  width: calc(66.6666666667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.3333333333% - 20px);
}

.grid-11 {
  width: calc(91.6666666667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class*=grid-] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 760px) {
  [class*=grid-] {
    width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
}

.offset-1 {
  margin-left: calc(8.3333333333% + 10px);
}

.offset-2 {
  margin-left: calc(16.6666666667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.3333333333% + 10px);
}

.offset-5 {
  margin-left: calc(41.6666666667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.3333333333% + 10px);
}

.offset-8 {
  margin-left: calc(66.6666666667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.3333333333% + 10px);
}

.offset-11 {
  margin-left: calc(91.6666666667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 760px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0;
  }
}
.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}
@media screen and (max-width: 760px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

.about-section {
  min-height: 100svh;
}
@media screen and (max-width: 760px) {
  .about-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
  }
}
.about-section .about-left {
  height: 100svh;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 760px) {
  .about-section .about-left {
    height: 50svh;
  }
}
.about-section .about-left .dark-btn {
  width: 20rem;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.about-section .about-left .dark-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  z-index: -1;
  transition: width 0.3s ease;
}
.about-section .about-left .dark-btn:hover::before {
  width: 100%;
}
.about-section .about-left .dark-btn img {
  width: 2rem;
  height: 2rem;
}
.about-section .about-right {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .about-section .about-right {
    height: 50svh;
  }
}
.about-section .about-right .profile-img {
  max-width: 40rem;
  width: 100%;
  height: 100%;
  scale: 0.8;
  opacity: 0;
  color: #fff;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 30rem;
  -webkit-mask: linear-gradient(to right, transparent 0%, black 50%, black 90%, transparent 100%);
          mask: linear-gradient(to right, transparent 0%, black 50%, black 90%, transparent 100%);
}
@media screen and (max-width: 760px) {
  .about-section .about-right .profile-img {
    -webkit-mask: linear-gradient(to right, transparent 0%, black 50%, black 50%, transparent 100%);
            mask: linear-gradient(to right, transparent 0%, black 50%, black 50%, transparent 100%);
  }
}

.skills {
  min-height: 100svh;
}/*# sourceMappingURL=global.css.map */